#mainTitle {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-underline: false;
}

.subTitle {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.title{
    -fx-underline: true;
    -fx-font-weight: bold;
}

.label{
    -fx-padding: 0px 0px 5px 5px;
    -fx-font-family: "Agency FB";
    -fx-font-size: 13px;
}

.container {
    -fx-spacing: 100px;
}

#left{
    -fx-background-color: #66B2FF;
}