#chart{
    -fx-stroke-width: 2px;
    -fx-text-fill: #9E00C6;
    -fx-effect: null;
}

.chart-plot-background{
    -fx-background-color: transparent;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #9E00C6; }

.default-color0.chart-line-symbol { -fx-background-color: #9E00C6, white; }

.label{
    -fx-text-fill: #9E00C6;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-underline: false;
    -fx-text-fill: black;
}

.subTitle{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-text-fill: black;
}

#tableScroll{
    -fx-background-color: white;
}

#rulesVBox{
    -fx-background-color: white;
}

#rulesVBox .label{
    -fx-padding: 0px 0px 5px 5px;
    -fx-font-family: "Agency FB";
    -fx-font-size: 13px;
}

#daysHours {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.tableHead{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.button{
    -fx-text-fill: black;
}

#center{
    -fx-background-color: white;
}

#innerTable{
    -fx-background-color: white;
}

.combo-box{
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
    -fx-background-color: #E0E0E0;
}