#mainTitle{
    -fx-underline: true;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.text-field{
    -fx-border-color: Gray;
}

.label{
    -fx-underline: true;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #9E00C6;
}

.sub {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}
.button{
    -fx-border-color: Red;
    -fx-pref-width: 80px;
    -fx-pref-height: 40px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
}

.vBox {
    -fx-spacing: 10px;
}

#right{
    -fx-background-color: white;
    -fx-border-color: gray;
}

.combo-box{
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
    -fx-background-color: transparent;
    -fx-border-radius: 6px;
}