#border {
    -fx-background-color: white;
}

#top {
    -fx-background-color: #A93DC4;
}

#bottom{
    -fx-background-color: #C9EE64;
}

#filePath{
    -fx-text-fill: #5365AF;
}

.button{
    -fx-background-color: #E0E0E0;
    -fx-border-color: black;
    -fx-text-fill: black;
}

#top .text-field{
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #F4F3F5;
}

#top .combo-box {
    -fx-background-color: white;
}

#top .label{
    -fx-text-fill: white;
    -fx-font-family: "Open Sans";
}

.check-box{
    -fx-text-fill: white;
}

.label{
    -fx-border-insets: 0px, 5px, 0px, 5px;
    -fx-padding: 0px, 5px, 0px, 5px;
    -fx-font-size: 13px;
    -fx-text-fill: #9E00C6;
}

.progress-bar{
    -fx-border-color: black;
    -fx-background-color: #C9EE64;
    -fx-accent: #A93DC4;
}